.main-div {
  /* display: flex; */
  height: auto;
  width: auto;
}
.header-div {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

}
.body-div {
  display: flex;
}

/*Style the coulmn*/
.content-div {
  display: flex;
  justify-content: center;
  
}

.column {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  justify-content: flex-end;
}
.column-style {
    width: 50px;
  height: 50px;
  border: 1px solid black;
  padding: 1px;
  text-decoration: none;
  color: black;
  text-align: left;
  
}
p {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
}
  .atomic-weight{
  display: inline-block;
  justify-content: right;
  text-align: right;
  font-weight: lighter;
  margin-left: 5px;
  text-align: right;

}
h1 {
  margin: 0;
  text-align: center;
}
.alkali-metals {
background-color: rgb(255,170,0);
}
.alkaline-earth-metals {
background-color: rgb(247,247,0);
}
.transition-metals {
background-color: rgb(255,119,153);
}
.lanthanides {
background-color: rgb(255,170,136);
}
.actinides {
background-color: rgb(221,170,204);
}
.other-metals {
background-color: rgb(0,204,204);
}
.non-metals {
  background-color:rgb(0,247,0);
}
.noble-gases{
background-color: rgb(85,247,247);
}
